body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
}
.container{
    
}
.book{
    padding: 20px;
    
}
.b1{
    margin-left:200px ;
}
.links{
    
    text-decoration: none;
    margin-left: 700px;
    margin-top: -50px;
}
.links2{
    color: gray;
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    margin-left: 70px;
    
}
.button{
    background-color: orangered;
    padding: 15px 15px 15px 15px;
    margin-left: 70px;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    color: white;
    border-radius: 15px;
}
.button:hover {
background-color: white;
cursor: pointer;
transition: 0.1s;
color: orangered;
}
.text{
    font-size: 50px;
    font-weight: 700;
    margin-left: 200px;
    text-align: left;
    padding-top: 200px;
}
.t1{
    text-align: left;
    color: gray;
    font-size: 24px;
    font-weight: 500;
}
.t2{
    display: grid;
    
    grid-template-columns: 300px 300px;
    
}
.button2{
    box-shadow: 3px 3px 3px 3px rgb(240, 238, 238);
    font-size: 23px;
    font-weight: 500;
    background-color: rgb(74, 74, 168);
    color: white;
    height: 50px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px 10px 20px;
}
.button2:hover {
    background-color: white;
    color: rgb(74, 74, 168);
    cursor: pointer;
    transition: 0.1s;
}
.button3{
    box-shadow: 3px 3px 3px 3px rgb(240, 238, 238);
    font-size: 23px;
    font-weight: 500;
    background-color: white;
    color: black;
    height: 50px;
    width: 220px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px 10px 20px;
}
.button3:hover {
    background-color: rgb(74, 74, 168);
    color: white;
    cursor: pointer;
    transition: 0.1s;
}
.back{
    margin-top: -200px;
    margin-left: 979px;
    background-color: rgb(74, 74, 168);
    height: 290px;
    width: 800px;
    border-radius: 150px 0px 0px 150px;
}
.img{
    margin-left: -100px;
    margin-top: -200px;
    position: relative;
}
.feat{
    margin-top: 200px;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
}
.f2{
    font-size: 23px;
    color: gray;
    font-weight: 400;
}
.simple{
    margin-left: 360px;
    
    border-bottom: 1px gray solid;
    font-size: 30px;
    font-weight: 500;
    width: 990px;
}
.s2{
  color: gray;
  margin-left: 400px;
  margin-top: -60px;    
}
.s3{
     color: gray;
  margin-left: 800px;
  margin-top: -70px;  
}
.up{
     margin-top: 300px;
    
    background-color: rgb(74, 74, 168);
    height: 290px;
    width: 700px;
    border-radius: 0px 150px 150px 0px;
}
.mug{
    position: relative;
    margin-top: -200px;
    margin-left: 250px;
}
.lok{
    margin-top: -550px;
    margin-left: 990px;
    text-align: left;
    font-size: 50px;
    font-weight: 700;
    color: black;
}
.l2{
font-size: 25px;
color: gray;
font-weight: 400;
}
.button4{
    margin-top: 50px;
     box-shadow: 2px 2px 2px gray;
    font-size: 23px;
    font-weight: 500;
    background-color: rgb(74, 74, 168);
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px 10px 20px;
}
.button4:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.1s;
}
.load{
    margin-top: 300px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: black;
}
.bol{
    color: gray;
    font-size: 24px;
    font-weight: 400;
}
.fire{
    margin-top: 50px;
    margin-left:300px ;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    column-gap: 40px;
}
.fr1{
    background-color: white;
    box-shadow: 5px 5px 5px 5px  rgb(240, 238, 238);
    height: 400px;
    border-radius: 15px;
    transition: 0.3 ease;
}
.fr1:hover {
        transform: scale(1.05);
    cursor: pointer;
}
.fr2{
    margin-top: 50px;
     background-color: white;
     box-shadow: 5px 5px 5px 5px rgb(240, 238, 238);
    height: 400px;
    border-radius: 15px;
    transition: 0.3 ease;
}
.fr2:hover {
        transform: scale(1.05);
    cursor: pointer;
}
.fr3{
    transition: 0.3 ease;
    margin-top: 100px;
      background-color: white;
     box-shadow: 5px 5px 5px 5px rgb(240, 238, 238);
    height: 400px;
    border-radius: 15px;
}
.fr3:hover {
        transform: scale(1.05);
    cursor: pointer;
}
.kok{
    position: relative;
    margin-top: -370px;
    display: grid;
     grid-template-columns: 350px 350px 350px;
    column-gap: 40px;
}
.k1{
    margin-top: -70px;
    margin-left: 130px;
}
.k2{
    margin-top: 10px;
     margin-left: 130px;
}
.k3{
     margin-top: 50px;
     margin-left: 130px;
}
.pik{
    position: relative;
    margin-left: -395px;
    margin-top: -300px;
    display: grid;
     grid-template-columns: 350px 350px 350px;
    column-gap: 40px;
}
.p2{
    text-align: center;
font-size: 27px;
margin-top: -10px;
font-weight: 600;
color: black;
}
.p3{
     text-align: center;
font-size: 27px;
margin-top: 60px;
font-weight: 600;
color: black;
}
.p4{
     text-align: center;
font-size: 27px;
margin-top: 100px;
font-weight: 600;
color: black;
}
.case{
    position: relative;
        margin-left: -700px;
     margin-top: -370px;
    display: grid;
     grid-template-columns: 350px 350px 350px;
    column-gap: 40px;
}
.c1{
    font-size: 20px;
margin-top: 100px;
    color: gray;
    font-weight: 500;
}
.c2{
    font-size: 20px;
margin-top: 170px;
    color: gray;
    font-weight: 500;
}
.c3{
    font-size: 20px;
margin-top: 210px;
    color: gray;
    font-weight: 500;
}
.lift{
     position: relative;
     margin-top: -210px;
    display: grid;
     grid-template-columns: 350px 350px 350px;
    column-gap: 40px;
}
.i1{
margin-top: -10px;
width: 350px;
}
.i2{
    margin-top: 60px;
width: 350px;
}
.i3{
     margin-top: 95px;
width: 350px;
}
.hop{
    position: relative;
    margin-left: -350px;
     margin-top: -210px;
    display: grid;
     grid-template-columns: 350px 350px 350px;
    column-gap: 40px;
}
.h1{
    background-color: rgb(74, 74, 168);
    height: 40px;
    padding: 10px 5px 5px 5px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgb(240, 238, 238);
    font-size: 20px;
    color: white;
    font-weight: 400;
    width: 250px;
    border-radius: 10px;
    margin-top: 30px;
}
.h1:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.1s;
}
.h2{
    background-color: rgb(74, 74, 168);
    height: 40px;
    padding: 10px 5px 5px 5px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgb(240, 238, 238);
    font-size: 20px;
    color: white;
    font-weight: 400;
    width: 250px;
    border-radius: 10px;
    margin-top: 75px;
}
.h2:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.1s;
}
.h3{
    background-color: rgb(74, 74, 168);
    height: 40px;
    padding: 10px 5px 5px 5px;
    text-align: center;
    box-shadow: 3px 3px 3px 3px rgb(240, 238, 238);
    font-size: 20px;
    color: white;
    font-weight: 400;
    width: 250px;
    border-radius: 10px;
    margin-top: 120px;
}
.h3:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.1s;
}
.freak{
    margin-top: 100px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}
.n1{
    color: gray;
    font-size: 24px;
    font-weight: 300;
}
.land4{
    
      margin-left: 200px;
    display: grid;
    grid-template-columns: 450px 250px 200px 190px ;
    grid-template-rows: 100px;
   
}
.know3{
    padding: 10px;
     color: black;
    font-size: 18px;
    font-weight: 500;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}
.know4{
    margin-top: 30px;
    margin-left: -50px;
      padding: 10px;
     color: black;
    font-size: 18px;
    font-weight: 500;
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
}
.land5{
     margin-left: 3px;
    display: grid;
    grid-template-columns: 450px 250px 200px 190px ;
    grid-template-rows: 100px;
}
.button6{
    background-color: rgb(74, 74, 168);
    color: white;
    padding: 0px 20px 25px 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgb(240, 238, 238);
    width: 180px;
    font-size: 23px;
    margin-top: 180px;
    margin-left: 120px;
    height: 50px;
    text-align: center;
    font-weight: 500;
}
.button6:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: 0.1s;
}
.blue{
    width: 1790PX;
    margin-left: -700px;
  margin-top: 500px;
    background-color: rgb(74, 74, 168);
    height: 380px;
    padding: 20px;
}
.b2{
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.b3{
    color: white;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.b4{
    display:grid;
    grid-template-columns: 600px 350px 250px;
}
.b5{
    color: gray;
    text-align: left;
    background-color: white;
    padding: 10px;
    height: 45px;
    width: 300px;
    border-radius: 10px;
    font-size: 20px;
    font-weight:500 ;
}
.b6{
    text-align: center;
    color: white;
    background-color: orangered;
    font-size: 20px;
    font-weight: 600;
    height: 50px;
    border-radius: 10px;
    width: 200px;
    padding: 20px 10px 0px 10px;
    margin-top: -1px;
}
.b6:hover {
  background-color: white;
  color: orangered;
  cursor: pointer;
  transition: 0.1s;
}
.mark{
    background-color: rgb(21, 21, 63);
    padding: 20px;
    height: 70px;
    margin-left: -950px;
    margin-top: 920px;
    width: 1790px;
}
.m2{
    margin-top: 20px;
    margin-left: 200px;
    display: grid;
    grid-template-columns:300px 200px 200px 200px 400px 100px 100px  ;
}
.g1{
    height: 30px;
    filter: brightness(0)invert(1);
}
.g2{
    color: white;
    font-size: 23px;
    font-weight: 400;
    text-align: center;
    margin-top: -1px;
}