/* CSS RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS VARIABLE */
:root{
    --Blue-950: hsl(256, 26%, 20%);
    --Blue-500: hsl(216, 30%, 68%);
    --Gray-950: hsl(270, 9%, 17%);
    --Gray-700: hsl(273, 4%, 51%);
    --Gray-50: hsl(0, 0%, 98%);

    --Font-size: 16px;
}

/* GENERAl STYLE */

/* body */
body{
    min-height: 100vh;
}

/* header */
.header__container{
    background-color:var(--Gray-50);
}
.header__container section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}
nav{
    display: none;
}

.nav-item{
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
}
.list-item a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--Gray-700);
}
.nav-item li:last-child{
    border: 1.5px solid var(--Gray-950);
    padding: 0.5rem 1rem;
}


/* Main */
.main__container{
  display: flex;
  flex-direction: column;
  gap: 10rem;
}
/* Hero section */
.hero-images{
  display: flex;
  flex-direction: column;
}
#desktop_hero_image{
  display: none;
}
#mobile_hero_image{
  height: 370px;
}
#mobile_hero_image img,
#desktop_hero_image img {
  width: 100%;
  height: 100%;
}

.hero__section_writeup{
  background-color: rgb(87, 75, 119);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 1.5rem;
  position: relative;
}
.patterns img{
  position: absolute;
}
.left-mobile-pattern img{
  top: 0;
  left: 0;
}
.right-mobile-pattern img{
  top: 65%;
  left: 70%;
}
.desktop-patterns{
  display: none;
}
.title{
  color: var(--Gray-50);
  text-transform: uppercase;
}
.title + p {
  color: rgb(216, 214, 214);
}
.content{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}
.hero__section_writeup button{
  border: 1.5px var(--Gray-50) solid;
  padding: 0.5rem 1rem;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--Gray-50);
  width: 150px;
}
.service{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0 1.2rem;

}
.service h1{
  text-align: center;
  padding-top: 2rem;
}
.service hr{
  width: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.service__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.service__card{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  padding: 1rem;
}
.service__card div{
  display: flex;
  flex-direction: column;
  gap: 1rem;
} 
.service__card div h3{
  font-size: 1.3rem;
}
.service__card div h3 + p{
  color: var(--Gray-700);
}
a{
  text-decoration:none;
  text-transform: uppercase;
  color:black;
}
.links{
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  text-align: center;
}

/* about-us */
.about-us{
  padding: 1rem;
}
.about-us div{
background-color: rgb(87, 75, 119);
 height: 300px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 1.5rem;
padding: 1rem;
 background: rgb(87, 75, 119) url('./images/bg-pattern-how-we-work-mobile.svg') no-repeat top right;
 background-size: contain;
}
.about-us div h1{
  color: var(--Gray-50);
  text-align: center;
  font-size: 2.5rem;
  
}
.about-us button{
  width: 150px;
  background-color: transparent;
  text-transform: uppercase;
  color: var(--Gray-50);
  padding: 0.5rem 1rem;
  border: 1.2px solid var(--Gray-50);
}

.about-desktop-pattern{
  display: none;
}
.about-desktop-pattern img,
.about-mobile-pattern img{
  width: 100%;
  height: 100%;
}

/* footer */



@media screen and (min-width:768px) {
  /* header */
  .header__container{
    display: flex;
    justify-content: center;
  }
  .header__container section{
    width: 80%;
    padding: 1.5rem 0;
  }
  nav{
    display: flex;
  }
  .hamburger{
    display: none;
  }


  /* Main */
  .hero-images{
    flex-direction: row-reverse;
    gap: 1.5rem;
    width: 80%;
  }
  .left-mobile-pattern img,
  .right-mobile-pattern img{
    display: none;
  }

  .hero__section_writeup{
    background-color: transparent;
    align-items: flex-start;
    /* border: 5px solid red; */
    padding: 0;
    width: 55%;
  
  }
  .hero__section{
    height: 40vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Blue-950);
    /* padding-top: 3rem; */
    position: relative;
  }
  .content{
    text-align: left;
  }
  #desktop_hero_image{
    display: flex;
    width: 300px;
    transform: translateY(3rem);
    width: 100%;
  }
  #mobile_hero_image{
    display: none;
  }
  hr{
    width: 20%;
    border: 1px solid var(--Gray-700);
  }
  .hero__section_images{
    width: 45%;
  }
  .desktop-patterns{
    display: block;
  }
  .left-desktop-pattern img,
  .right-desktop-pattern img{
    position: absolute;
  }

   .left-desktop-pattern img{
    bottom: -40%;
    left: 0;
    width:120px;
   }
  .right-desktop-pattern img{
    top: 0;
    right: 0;
    width: 250px;
  }
  .service{
    padding: 2rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .service h1,
  .service .service__container{
    width: 80%;
  }
  .service h1{
    text-align: left;
    padding-top: 2rem;
  }
  .service__container{
    flex-direction: row;
  }
  .service__card{
    text-align: left;
    padding: 0;
  }

  .service hr{
    left:10%;
    transform: translateX(0);
  }

  /* about-us */
  .about-us{
    padding:0;
    display: flex;
    justify-content: center;
  }
  .about-us div{
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 3.5rem;
    gap: 2rem;

  }
  .about-us h1{
    width: 40%;
    display: block;
  }
  .about-us button{
    width: 20%;
    display: block;
    width: 140px;
  }
  .about-us div h1{
    text-align: left;
  }

    /* footer */


}


