*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.loop-header{
    height: 40rem;
    padding: 20px 20px 10px 20px;
    width: 100%;
    background-image: url(/ZION.2/loop/loopstudios-landing-page-main/images/mobile/image-hero.jpg);
}
.images{
    display: flex;
    justify-content: space-between;
}
.loop-image{
   
}
.immersive{
    transform: translateY(90px);
    color: white;
    border: 1px white solid;
    font-size: 2.5rem;
    font-weight: 300;
    width: 22rem;
    height: 14rem;
    padding: 1px 10px 10px 10px;
}
.visual-image{
    padding: 20px;
}
.white-guy img{
    width: 100%;
   
}
.leader{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}
.l2{
    color: gray;
    font-size: 0.9rem;
    font-weight: 500;
}
.content{
    font-size: 2rem;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.space-images img{
    width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.huge{
    padding: 10px;
    transform: translateY(-50px);
    color: white;
    font-size: 1.1rem;
}

.see-all{
    border: 2px black solid;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    width: 10rem;
  transform: translateX(100px);
}
.loop-footer{
    background-color: black;
    color: white;
    padding: 20px;
}

.studios{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;

}
.icons{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.reserve{
    text-align: center;
    color: gray;
    font-size: 1.1rem;
    font-weight: 600;
}