*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.loop-header{
    height: 40rem;
    padding: 20px 20px 10px 20px;
    width: 100%;
    background-image: url(/ZION.2/loop/loopstudios-landing-page-main/images/mobile/image-hero.jpg);

}
.images{
    display: flex;
    justify-content: space-between;
}
.loop-image{
   
}
.nav{
    display: none;
}
.immersive{
    transform: translateY(90px);
    color: white;
    border: 1px white solid;
    font-size: 2.5rem;
    font-weight: 300;
    width: 22rem;
    height: 14rem;
    padding: 1px 10px 10px 10px;
}
.visual-image{
    padding: 20px;
}
.white-guy img{
    width: 100%;
   
}
.leader{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2rem;
    font-weight: 300;
    text-align: center;
}
.l2{
    color: gray;
    font-size: 0.9rem;
    font-weight: 500;
}
.content{
    font-size: 2rem;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.space-images img{
    width: 100%;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.huge{
    padding: 10px;
    transform: translateY(-50px);
    color: white;
    font-size: 1.1rem;
}

.see-all{
    border: 2px black solid;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    width: 10rem;
  transform: translateX(100px);
}
.loop-footer{
    background-color: black;
    color: white;
    padding: 20px;
}

.studios{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;

}
.icons{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.reserve{
    text-align: center;
    color: gray;
    font-size: 1.1rem;
    font-weight: 600;
}
.space-image{
    display: none;
}
.see-all2{
    display: none;
}
.content2{
    display: none;
}
.studios2{
    display: none;
}
.icons2{
    display: none;
}
@media screen and (min-width:868px) {
    .loop-header{
        background-size: cover;
        height: 40rem;
        padding: 30px 50px 30px 100px;
    }
    .hamburger{
        display: none;
    }
    .nav{
        color: white;
    }
    .immersive{
          color: white;
    border: 2px white solid;
    font-size: 2.5rem;
    font-weight: 500;
    width: 32rem;
    height: 16rem;
    padding: 10px 10px 10px 20px;
    }
    .visual-image{
        padding-left: 100px;
    }
    .white-guy img{
        width: 38rem;
    }
    .leader{
        background-color: white;
        padding: 50px 40px 10px 40px;
        height: 19rem;
        transform: translateX(500px)translateY(-250px);
        width: 39rem;
    }
    .space-images{
        display: none;
    }
    .space-image{
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 470px;
   
}
.space{
        display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 470px;
   
   
}
.content2{
    display: flex;
    padding-left: 50px;
    justify-content: space-between;
      font-size: 2rem;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.see-all2{
      border: 2px black solid;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 700;
    text-align: center;
    width: 10rem;
  transform: translateX(100px);
}
.see-all{
    display: none;
}
.content{
    display: none;
}
.studios2{
     font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    padding-left: 90px;
    justify-content: space-evenly;
}
.studios{
    display: none;
}

}