body{
       background:linear-gradient(rgb(14, 13, 13)) ;
    overflow-x: hidden;
}

.container{
padding: 50px;
height: 1900px;
}
.logo{
   
}
input{
    color: rgb(156, 155, 155);
    width: 200px;
     background-color: rgb(39, 37, 37);
    border-radius: 30px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    margin-left: 300px;
    transform: translateY(-20px);
    text-align: center;
    
}
.links{
transform: translateX(1050px)translateY(-70px);

}
.border{
    height: 2100px;
    border-radius: 20px;
    background-color: rgb(39, 37, 37);
    transform: translateY(-40px);
    width: 1585px;
    padding: 40px;
}
.alan{
   height: 1400px;
   padding: 10px;
   padding-left: 10px;
   background-color: black;
   width: 1500px;
   transform: translateY(-2150px)translateX(85px);
   border-radius: 20px;
  
}
.button{
    padding: 10px;
    background-color: rgb(226, 23, 226);
    color: white;
    border-radius: 30px;
    
    
    width: 150px;
    height: 30px;
    text-align: center;
    transform: translateY(-490px)translateX(540px);
}
.button:hover {
    transition: 0.7s;
    cursor: pointer;
    background-color: white;
    color: rgb(226, 23, 226);
}
.smithe{
    font-size: 50px;
    font-weight: 900;
    color: white;
    
    transform: translateY(-3450px)translateX(640px);
}
.button2{
       padding: 10px;
    border: rgb(226, 23, 226) 1px solid;
    color: rgb(226, 23, 226);
    border-radius: 30px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    text-align: center;
   margin-top: 50px;
}
.button2:hover {
     transition: 0.7s;
    cursor: pointer;
    background-color: white;
    color: rgb(226, 23, 226);
    border: white solid 1px;
}
.box{
    width: 350px;
    height: 300px;
    background-color: rgb(37, 37, 37) ;
    padding: 20px;
    border-radius: 20px;
    transform: translateX(1180px)translateY(-3839px);
}
.beast{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px;
    column-gap: 80px;
    border-radius: 20px;
    transform: translateY(-3400px)translateX(120px);
}
.button3{
    padding: 10px;
    background-color: rgb(226, 23, 226);
    color: white;
    border-radius: 30px;
    width: 180px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    
   transform: translateY(-3300px)translateX(740px);
}
.button3:hover {
     transition: 0.7s;
    cursor: pointer;
    background-color: white;
    color: rgb(226, 23, 226);
}
.your{
     height: 600px;
   padding: 10px;
   padding-left: 10px;
   background-color: black;
   width: 1500px;
   transform: translateY(-350px)translateX(140px);
   border-radius: 20px;
}

.your2{
    display: grid;
    grid-template-columns: 150PX 250px 250px 250px 250px 250px ;
    grid-template-rows: 60px ;
    padding: 10px;
    margin-left: 50px;
}
.your3{
    display: grid;
    grid-template-columns: 150px 250px 250px 250px 250px ;
    grid-template-rows: 70px;
    margin-left: 50px;
    color: gray;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}
.your4{
    display: grid;
    grid-template-columns: 150PX 250px 250px 250px 250px 250px ;
    grid-template-rows: 60px ;
    padding: 10px;
    margin-left: 50px;
}
.your5{
     display: grid;
    grid-template-columns: 150px 250px 250px 250px 250px ;
    grid-template-rows: 70px;
    margin-left: 50px;
    color: gray;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}
.your6{
      display: grid;
    grid-template-columns: 150PX 250px 250px 250px 250px 250px ;
    grid-template-rows: 60px ;
    padding: 10px;
    margin-left: 50px;
}
.your7{
     display: grid;
    grid-template-columns: 150px 250px 250px 250px 250px ;
    grid-template-rows: 70px;
    margin-left: 50px;
    color: gray;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}