

body{
    background:linear-gradient(rgb(14, 13, 13)) ;
    overflow-x: hidden;
    
}
.container{
padding: 50px;
height: 1200px;
}
.logo{
   
}
input{
    color: rgb(156, 155, 155);
    width: 200px;
    background-color: rgb(39, 37, 37);
    border-radius: 30px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    margin-left: 300px;
    transform: translateY(-20px);
    text-align: center;
    
}
.links{
transform: translateX(1050px)translateY(-70px);

}

.border{
    height: 2100px;
    border-radius: 20px;
   background-color: rgb(39, 37, 37);
    transform: translateY(-40px);
    width: 1585px;
    padding: 40px;
}
.think{
transform: translateX(40px);
width: 1500px;
}
.text{
    transform: translateY(-500px)translateX(90px);
}
.button{
    padding: 10px;
    background-color: rgb(226, 23, 226);
    color: white;
    border-radius: 30px;
    width: 180px;
    height: 20px;
    text-align: center;
    transform: translateY(-500px)translateX(90px);
}
.button:hover {
    transition: 0.7s;
    cursor: pointer;
    background-color: white;
    color: rgb(226, 23, 226);
}
.most{
   height: 730px;
   padding: 5px;
   padding-left: 10px;
   background-color: black;
   width: 1485px;
   transform: translateY(-1570px)translateX(85px);
   border-radius: 20px;
  
}
.pic{
 display: grid;
   grid-template-rows: 300px 300px;
   grid-template-columns:  300px  300px  300px 300px;
   border-radius: 20px;
   column-gap: 30px;
   row-gap: 0px;
   margin-left: 100px;
}
.id1{
    padding: 15px;
    margin: 20px auto;
    border-radius: 20px;
}
.button2{
    padding: 5px;
    background-color: rgb(226, 23, 226);
    color: white;
    border-radius: 30px;
    width: 180px;
    height: 40px;
    text-align: center;
    transform: translateY(-10px)translateX(550px);
}
.button2:hover {
      transition: 0.7s;
    cursor: pointer;
    background-color: white;
    color: rgb(226, 23, 226);
}
.your{
     height: 600px;
   padding: 10px;
   padding-left: 10px;

   background-color: black;
   width: 1485px;
   transform: translateY(-1500px)translateX(85px);
   border-radius: 20px;
}
.your2{
    display: grid;
    grid-template-columns: 150PX 250px 250px 250px 250px 250px ;
    grid-template-rows: 60px ;
    padding: 10px;
    margin-left: 50px;
}
.your3{
    display: grid;
    grid-template-columns: 150px 250px 250px 250px 250px ;
    grid-template-rows: 70px;
    margin-left: 50px;
    color: gray;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}
.your4{
    display: grid;
    grid-template-columns: 150PX 250px 250px 250px 250px 250px ;
    grid-template-rows: 60px ;
    padding: 10px;
    margin-left: 50px;
}
.your5{
     display: grid;
    grid-template-columns: 150px 250px 250px 250px 250px ;
    grid-template-rows: 70px;
    margin-left: 50px;
    color: gray;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}
.your6{
      display: grid;
    grid-template-columns: 150PX 250px 250px 250px 250px 250px ;
    grid-template-rows: 60px ;
    padding: 10px;
    margin-left: 50px;
}
.your7{
     display: grid;
    grid-template-columns: 150px 250px 250px 250px 250px ;
    grid-template-rows: 70px;
    margin-left: 50px;
    color: gray;
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}

.button3{
     padding-top: 20px;
     padding-bottom: 20px;
    border: rgb(226, 23, 226) 1px solid;
    color: rgb(226, 23, 226);
    border-radius: 30px;
    width: 180px;
    height: 20px;
    font-size: 20px;
    text-align: center;
   margin-top: 10px;
}
.button3:hover {
     transition: 0.7s;
    cursor: pointer;
    background-color: white;
    color: rgb(226, 23, 226);
    border: white solid 1px;
}

