body{
   background:linear-gradient(rgb(14, 13, 13)) ;
 overflow-x: hidden;
}
.container{
    padding: 50px;
}
.logo{
   
}
input{
    color: rgb(156, 155, 155);
    width: 200px;
    background-color: rgb(39, 37, 37);
    border-radius: 30px;
    height: 30px;
    font-size: 20px;
    padding: 10px;
    margin-left: 300px;
    transform: translateY(-20px);
    text-align: center;
    
}
.links{
transform: translateX(1050px)translateY(-70px);

}
.border{
    height: 1800px;
    border-radius: 20px;
    background-color: rgb(39, 37, 37);
    transform: translateY(-40px);
    width: 1585px;
    padding: 40px;
}
.alan{
    position: relative;
   height: 600px;
   padding: 10px;
   padding-left: 10px;
   background-color: black;
   width: 1000px;
   transform: translateY(50px)translateX(30px);
   border-radius: 20px;
  
}
.pic{
    scroll-behavior: smooth;
        
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px;
    column-gap: 20px;
    transform: translateX(50px)translateY(-40px);
}
.scroll-left, .scroll-right {
            position: absolute;
            top: 50%;
            
            transform: translateY(-50%);
            font-size: 24px;
            cursor: pointer;
            background-color: transparent;
        }
        .scroll-left {
            left: -20px;
            
        }
        .scroll-right {
            right: -20px;
        }
.top{
    height: 580px;
    padding: 20px;
    background-color: black;
    width: 450px;
    border-radius: 20px;
    transform: translateX(1030px)translateY(-530px);
}
.small{
    display: grid;
    grid-template-columns: 20px 120px 150px 150px;
    grid-template-rows: 100px 100px 100px 100px 100px;
    transform: translateY(-40px);
}
.button{
    height: 20px;
    font-size: 20px;
    padding-top: 20px;
    border-radius: 30px;
    width: 120px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(226, 23, 226);
    color: white;
    text-align: center;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}
.button:hover  {
    cursor:  pointer;
    transition: 0.2s;
    background-color: white;
    color: rgb(226, 23, 226);
}
.pop{
     height: 1000px;
   padding: 10px;
   padding-left: 10px;
   background-color: black;
   width: 1505px;
   margin-top: 50px;
   margin-left: -1055px;
   border-radius: 20px;
}
.high{
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-decoration: underline;
    margin-left: 20px;
}
.fall{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    column-gap: 40px;
    grid-template-rows: 300px;
    margin-left: 70px;
    margin-top: -40px;
}
.popup{
     position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(226, 23, 226);
            color: white;
            padding: 10px;
            border-radius: 5px;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s;
}
.fall:hover .popup {
     visibility: visible;
            opacity: 1;
}
.life{
      display: grid;
    grid-template-columns: 50px 200px 50px 200px 50px 200px 50px 200px ;
    column-gap: 40px;
    grid-template-rows: 70px;
    margin-left: 70px;
    margin-top: 10px;
}
.under{
      display: grid;
    grid-template-columns: 50px 200px 50px 200px 50px 200px 50px 200px ;
    column-gap: 40px;
    grid-template-rows: 50px;
    margin-left: 70px;
    margin-top: -30px;
}
.gap{
    row-gap: 25px;
}
.fall2{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    column-gap: 40px;
    grid-template-rows: 300px;
    margin-left: 70px;
    margin-top: 40px;
}
.life2{
      display: grid;
    grid-template-columns: 50px 200px 50px 200px 50px 200px 50px 200px ;
    column-gap: 40px;
    grid-template-rows: 70px;
    margin-left: 70px;
    margin-top: 10px;
}
.under2{
      display: grid;
    grid-template-columns: 50px 200px 50px 200px 50px 200px 50px 200px ;
    column-gap: 40px;
    grid-template-rows: 50px;
    margin-left: 70px;
    margin-top: -30px;
}
.button2{
    height: 20px;
    font-size: 20px;
    padding-top: 20px;
    border-radius: 40px;
    width: 240px;
    padding-top: 4px;
    padding-bottom: 40px;
    background-color: rgb(226, 23, 226);
    color: white;
    text-align: center;
    
    margin-left: 620px;
    margin-top: 18px;
    
}
.button2:hover {
    background-color: white;
    color: rgb(226, 23, 226);
    cursor: pointer;
    transition: 0.2s;
}
