body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}
.container{
    
}
.navbar{
    height: 50px;
    padding: 10px;
    background-color: white;
}
.home{
    transform: translateX(600px)translateY(-70px);
}
.discover{
    height: 800px;

    background-image: url(./images/electric8.webp);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom rgba(0,0,0,1)10%,rgba(0, 0, 0, 0.7)50%,rgba(  0,0,0,0.2));
    z-index: 1;
}
.gig{
    transform: translateY(150px);
    z-index: 2;
}
.button{
    background-color: rgb(129,14,129);
    padding: 10px;
    width: 180px;
    border-radius: 30px;
    
    color: white;
    transform: translateY(230px)translateX(770px);
}
.button:hover {
    color: rgb(129,14,129);
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}
.feature{
    text-align: center;
    color: black;
    font-size: 35px;
    font-weight: 900;
}
.bottom{
    width: 100px;
    transform: translateX(830px)translateY(-20px);
}
.devices{
    padding: 10px;
    
    display: grid;
    grid-template-columns: 320px 350px 350px 350px;
    grid-template-rows: 600px;
    column-gap: 100px;
   
}
.button2{
    background-color: rgb(255, 123, 0);
    color: black;
    width: 200px;
    text-align: center;
    height: 40px;
    
    border-radius: 40px;
  
  transform: translateX(75px)translateY(-100px);
    padding: 10px;
}
.button2:hover {
    background-color: rgb(129,14,129);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
.button3{
     background-color: rgb(255, 123, 0);
    color: black;
    width: 200px;
    text-align: center;
    height: 40px;
    border-radius: 40px;

  transform: translateX(75px)translateY(-100px);
    padding: 10px;
}
.button3:hover {
    background-color: rgb(129,14,129);
    color: white;
    transition: 0.5s;
    cursor: pointer;

}
.button4{
     background-color: rgb(255, 123, 0);
    color: black;
    width: 200px;
    text-align: center;
    height: 40px;
    border-radius: 40px;
  
  transform: translateX(75px)translateY(-100px);
    padding: 10px;
}
.button4:hover {
    background-color: rgb(129,14,129);
    color: white;
    transition: 0.5s;
    cursor: pointer;


}
.button5{
      background-color: rgb(255, 123, 0);
    color: black;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    height: 40px;
    border-radius: 40px;
  
  transform: translateX(75px)translateY(-100px);
    padding: 10px;
}
.button5:hover {
    background-color: rgb(129,14,129);
    color: white;
    transition: 0.5s;
    cursor: pointer;
}