body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    
}
.container{
    
}
.nth{
position: absolute;
z-index: 2;
width: 100%;
display: flex;
flex-direction:row ;
justify-content: space-evenly;
    align-items: center;
}
.ok{
    background-image: url(./images/cupOf\ Cofee.jpg);
    height: 100vh;
     background-size:cover ;
    padding: 10px;
    position: relative;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background:linear-gradient(to bottom right, rgba(0,0,0,0.5)10%,rgba(0,0,0,0.4)50%,rgba(0,0,0,0.2)) ;
    z-index: 1;
    top: 0;
    left: 0;
}

.coffee{
font-size: 30px;
font-weight: 900;
color: white;


}
.links{
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
font-weight: 400;

color: white;
}
.stuff{
    position: absolute;
    z-index: 2;
    top: 300px;
    left: 600px;
    text-align: center;
    color: white;
}
.button{
    height: 40px;
    border-radius: 30px;
    width: 180px;
    background-color: rgb(230, 103, 71);
    color: white;
    padding: 5px;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
}
.button:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: white;
    color: rgb(230, 103, 71);
}
.next{
    text-align: center;
    opacity: 0.7;
}

.logos{
    display: grid;
    grid-template-columns: 350px 350px 350px 350px 350px;
}
.menu{
    background-color: rgb(17, 14, 14);
    height: 600px;
    padding: 10px;
}
.under{
    display: grid;
    grid-template-columns: 550px;
    grid-template-rows: 155px;
    padding: 0px;

    transform: translateX(350px);
    row-gap: 0px;
}
.category{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    left: 450px;
    bottom: 300px;
    height: 300px;
    margin-left: 20px;
    
}
table{
    border-collapse: collapse;
    background-color: white;
    color: gray;
    width: 400px;
    height: 250px;
}
table th {
    background-color: rgb(230, 103, 71);
    color: white;
    height: 40px;
}
