body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.container{

}
.wob{
    background-image: url(./images/IMG-20251007-WA0059.jpg);
    height: 110px;
    padding: 10px;
}
.pad{
    margin-left: 150px;
    color: white;
    font-size: 45px;
    font-weight: 900;
    margin-top: -20px;
}
.links{
    
    text-decoration: none;
    margin-left: 600px;
    margin-top: -85px;
}
.links2{
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 70px;
    
}
.sweet{
    background-image: url(./images/IMG-20251007-WA0080.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: 50px;
}
.text{
    
}
.copy{
    margin-top: 40px;
     text-align: center;
    color: white;
    font-size: 20px;
    font-size: 500;
}
.t2{
    font-size: 70px;
    font-weight: 900;
    color: white;
}
.button{
    border: 1px rgb(0, 225, 255) solid;
    text-align: center;
    color: rgb(0, 225, 255);
    height:40px;
    border-radius: 30px;
    padding: 10px 10px 5px 10px;
    margin-left: 750px;
    width: 160px;
}
.button:hover{
    border: none;
    background-color: rgb(0, 225, 255);
    color: white;
    transition: 0.1s;
    cursor: pointer;
}
.curse{
    padding: 20px;
    background-color: white;
    width: 1400px;
    height: 60px;
    border-radius: 50px;
    margin-top: 230px;
    margin-left: 150px;
}
.house{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 70px 280px 70px 280px 70px 400px 100px ;
}
.lock{
    color: rgb(0, 225, 255);
    font-size: 30px;
    margin-top: 2px;
}
.lock2{
    color: gray;
    font-size: 24px;
    font-weight: 500;
    margin-top: -2px;
}
.button2{
    background-color: rgb(0, 225, 255);
    color: white;
    text-align: center;
    height:40px;
    font-size: 24px;
    margin-top: 5px;
    border-radius: 30px;
    width: 160px;
    padding: 5px 5px 5px 5px;
}
.button2:hover {
  background-color: white;
  color: rgb(0, 225, 255);
  cursor: pointer;
  transition: 0.1;
}
.house2{
    margin-top: -70px;
    display: grid;
     grid-template-columns: 70px 280px 70px 280px 70px 200px 100px ;
}
.green{
    color: rgb(0, 225, 255);
    font-size: 27px;
    font-weight: 600;
    margin-left: 50px;
}
.visit{
    font-size: 40px;
    font-weight: 900;
    color: black;
    margin-left: 150px;
    padding-bottom: 50px;
}
.v2{
    color: gray;
    font-size: 25px;
    font-weight: 300;
}
.land{
    margin-left: 150px;
    display: grid;
    grid-template-columns: 450px 400px 200px ;
}
.cool{
    margin-top: -15px;
    font-size: 35px;
    font-weight: 900;
    color: black;
}
.img{
       height: 400px;
    border-radius: 20px;

}
.button3{
    background-color: rgb(0, 225, 255);
    color: white;
    text-align: center;
    height:40px;
    font-size: 24px;
    margin-top: 5px;
    border-radius: 30px;
    width: 160px;
    padding: 10px 10px 10px 10px;
}
.button3:hover {
  background-color: white;
  color: rgb(0, 225, 255);
  cursor: pointer;
  transition: 0.1;
}
.land2{
    margin-top: -380px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: 450px 400px 200px ;
}
.know{
    color: gray;
    font-size: 20px;
    font-weight: 500;
    margin-left: -150px;
}
.land3{
     margin-top: -300px;
    margin-left: 150px;
    display: grid;
    grid-template-columns: 450px 400px 200px ;
}
.know2{
      color: gray;
    font-size: 20px;
    font-weight: 500;
    margin-left: -600px;
}
.land4{
    
      margin-top: -200px;
      margin-left: -850px;
    display: grid;
    grid-template-columns: 450px 200px 200px 170px ;
    grid-template-rows: 100px;
   
}
.know3{
    padding: 10px;
     color: gray;
    font-size: 20px;
    font-weight: 500;
    border-top: 2px gray solid;
    border-bottom: 2px gray solid;
}
.land5{
    
    margin-top: -70px;
    display: grid;
    grid-template-columns: 450px 300px 200px 170px ;
    grid-template-rows: 100px;
}
.know4{
    color: rgb(0, 225, 255);
    font-size: 28px;
    font-weight: 700;
}
.circle{
    margin-left: 700px;
    margin-top: 50px;
    border: rgb(0, 225, 255) 2px solid;
    text-align: center;
    color: rgb(0, 225, 255);
    height: 70px;
    width: 70px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 70px;

}
.circle:hover {
    background-color: rgb(0, 225, 255);
    color: white;
    cursor: pointer;
    transition: 0.1s;
}
.pot{
     border: rgb(0, 225, 255) 2px solid;
    text-align: center;
    color: white;
    background-color: rgb(0, 225, 255);
    height: 70px;
    width: 70px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 70px;
    margin-left: 100px;
    margin-top: -75px;
}
.pot:hover{
 background-color: white;
 color: rgb(0, 225, 255);
 cursor: pointer;
 transition: 0.1s;
}
.coke{
      border: rgb(0, 225, 255) 2px solid;
    text-align: center;
    color: rgb(0, 225, 255);
    height: 70px;
    width: 70px;
    font-size: 22px;
    font-weight: 700;
    border-radius: 70px;
    margin-left: 200px;
    margin-top: -75px;
}
.coke:hover {
     background-color: rgb(0, 225, 255);
    color: white;
    cursor: pointer;
    transition: 0.1s;
}
.back{
    background-image: url(./images/IMG-20251007-WA0059.jpg);
    height: 200px;
    margin-top: 100px;
    padding: 10px;
}
.back2{
    margin-left: 150px;
    font-size: 40px;
    font-weight: 900;
    color: white;
}
.b3{
    margin-top: -25px;
    font-size: 24px;
    font-weight: 600;
    color: white;
    
}
.button4{
    border: 1px white solid;
    width: 200px;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: 400;
    margin-left: 1240px;
    margin-top: -70px;
}
.button4:hover {
    background-color: rgb(0, 225, 255);
    cursor: pointer;
    color: white;
    transition: 0.1s;
}
.last{
    background-color: rgb(0, 225, 255);
    height: 150px;
     padding: 10px;
}
.last2{
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: 400;
}
