body{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
overflow-x: hidden;
}
.container{
    background-color: white;
}
.easy{
    position: relative;
    height: 80px;
    background-color: white;
    padding: 20px;
}
.logo{
    margin-top: 25px;
    margin-left: 100px;
    height: 30px;
}
.links{
    margin-left: 600px;
    margin-top: -34px;
}
.links2{
    margin-left: 70px;
    text-decoration: none;
    color: gray;
    font-size: 25px;
    font-weight: 400;
}
.button{
    background-color: rgb(58, 228, 58);
    padding: 15px 15px 15px 15px;
    margin-left: 140px;
    text-decoration: none;
    font-size: 23px;
    font-weight: 600;
    color: white;
    border-radius: 30px;
}
.button:hover {
background-color: white;
cursor: pointer;
transition: 0.1s;
color: rgb(58, 228, 58);
}
.text{
    font-size: 60px;
    margin-top: 170px;
    font-weight: 400;
    color: rgb(10, 10, 51);
    text-align: left;
    margin-left: 100px;
}
.t2{
    color: gray;
    font-size: 23px;
    font-weight: 400;
    text-align: left;
}
.button2{
    background-color: rgb(58, 228, 58);
    color: white;
    font-size: 24px;
    width: 160px;
    margin-top: 70px;
    font-weight: 600;
    padding: 15px 15px 15px 15px;
    border-radius: 30px;
}
.button2:hover {
    background-color: white;
    color: rgb(58, 228, 58);
    transition: 0.1s;
    cursor: pointer;
}
.back{
    margin-left: 770px;
    margin-top: -740px;
}
.b2{
    margin-left: 200px;
    margin-top: -950px;
}
.grid{
    margin-top: -120px;
    background-color: rgb(241, 239, 239);
    padding: 20px;
    height: 800px;
}
.gr2{
    margin-top: 70px;
    margin-left: 100px;
    font-size: 50px;
    color: rgb(10, 10, 51);
    font-weight: 400;
}
.gr3{
    color: gray;
    font-size: 23px;
    text-align: left;
    font-weight: 300;
}
.gr4{
    margin-top: 100px;
    margin-left: 100px;
    display: grid;
    grid-template-columns:360px 360px 360px 360px ;
    column-gap: 40px;
}
.gr5{
    margin-top: 50px;
    font-size: 30px;
    color: rgb(10, 10, 51);
    font-weight: 400;
}
.gr6{
    color: gray;
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}
.late{
    margin-left: 100px;
    font-size: 50px;
    font-weight: 400;
    color: rgb(10, 10, 51);
    margin-top: 90px;
}
.open{
    margin-left: 100px;
    display: grid;
    grid-template-columns: 370px 370px 370px 370px ;
    column-gap: 30px;
    height: 100px;
}
.op2{
    border: 1px black hidden;
    box-shadow: 5px 5px 5px 5px rgb(201, 201, 201);
    width: 350px;
    border-radius: 20px 20px 0px 0px ;
    height: 570px;
}
.op3{
    border-radius: 20px 20px 0px 0px;
    height: 280px;
    width: 350px;
}
.op4{
    margin-top: -299px;
     margin-left: 30px;
    display: grid;
    grid-template-columns: 370px 370px 370px 370px ;
}
.op5{
    color: gray;
    font-size: 20px;
    font-weight: 600;
}
.lok{
    color: gray;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
}
.lok2{
    color: gray;
    font-size: 20px;
    font-weight: 600;
    margin-left: 60px;
}
.lok3{
    color: gray;
    font-size: 20px;
    font-weight: 600;
    margin-left: 90px;
}
.ud1{
    margin-top: -100px;
    color: rgb(10, 10, 51);
    font-size: 26px;
    font-weight: 400;
    margin-top: 1px;
    text-align: left;
}
.ud2{
     margin-top: -100px;
    color: rgb(10, 10, 51);
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    margin-left: 30px;
    margin-top: 1px;
}
.ud3{
      margin-top: -100px;
    color: rgb(10, 10, 51);
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    margin-top: 1px;
    margin-left: 60px;
}
.ud4{
      margin-top: -100px;
    color: rgb(10, 10, 51);
    font-size: 26px;
    font-weight: 400;
    text-align: left;
    margin-top: 1px;
    margin-left: 90px;
}
.pik{
    color: gray;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-top: -10px;
}
.pik2{
        color: gray;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-top: -10px;
    margin-left: 30px;
}
.pik3{
        color: gray;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-top: -10px;
    margin-left: 60px;
}
.pik4{
        color: gray;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-left: 90px;
    margin-top: -10px;
}
.mega{
    margin-top: 600px;
    background-color: rgb(16, 16, 41);
    height: 300px;
    padding: 20px;
}
.mega2{
    display: grid;
    margin-left: 100px;
    margin-top: 50px;
    grid-template-columns: 400px 200px 700px 200px ;
    grid-template-rows: 40px;
    color: white;
    font-size: 23px;
}
.mask{
    filter: brightness(0) invert(1);
    height: 30px;
}
.home{
    margin-top: -2px;
}

.button5{
    margin-left: 30px;
    margin-top: -5px;
     height: 40px;
    background-color: rgb(58, 228, 58);
    text-decoration: none;
    border-radius: 30px;
    width: 180px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 400;
}
.button5:hover {
    background-color: rgb(24, 24, 83);
    color: white;
    transition: 0.1s;
    cursor: pointer;
}
.face{
    margin-top: -10px;
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 282px 200px 620px 400px ;
}
.f2{
    height: 25px;
}
.f3{
    height: 25px;
}
.f4{
    height: 25px;
}

.pick{
    color: gray;
    margin-top: -3px;
    font-weight: 500;
    font-size: 17px;
}
