body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.container{

}
.bring{
    background-image: url(./images/image-hero.jpg);
    height: 101vh;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
.nth{
position: absolute;
z-index: 2;
width: 100%;

display: flex;
flex-direction:row ;
justify-content: space-evenly;
    align-items: center;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 106vh;
    background:linear-gradient(to bottom right, rgba(0,0,0,0.5)10%,rgba(0,0,0,0.4)50%,rgba(0,0,0,0.2)) ;
    z-index: 1;
    top: 0;
    left: 0;
}
.links{
    font-size: 21px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
font-weight: 500;
margin-left: 200px;
color: white;
}
.ab{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}

.coffee{
    font-size: 35px;
    font-weight: 900;
    color: white;
    margin-left: 70px;
}
.imerse{
    border: 2px white solid;
    width: 600px;
    padding:20px 0px 60px 0px;
    height: 250px;
    
    text-align: left;
    color: white;
    font-size: 50px;
    font-weight: 200;
     position: absolute;
    z-index: 2;
    top: 400px;
    left: 350px;
    text-align: center;
    color: white;
}
.pic{
    margin-left: 350px;
    position: absolute;
}
.white{
    position: relative;
    height: 390px;
    padding: 5px 5px 5px 5px;
    width: 600px;
    background-color: white;
    margin-left: 550px;
    margin-top: -400px;
}
.lead{
    text-align: center;
    font-size: 50px;
    font-weight: 200;
    color: black;
}
.under{
    margin-left: 125px;
    text-align: left;
    font-size: 15px;
    font-weight: 500;
    color: gray;
}
.our{
    font-size: 50px;
    font-weight: 200;
    color: black;
    margin-top: 600px;
    margin-left: 350px;
}
.b{
    border: 2px black solid ;
    height: 50px;
    text-align: center;
    width: 180px;
    padding-top: 10px;
    margin-left: 900px;
    font-size: 30px;
    font-weight: 200;
    color: black;
    margin-top: -105px;
}
.ronnie{
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 470px;
    margin-left: 350px;
    gap: 0px;
}
.u{
    display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 40px;
    margin-left: 30px;
    margin-top: -190px;
}
.blitz{
    color: white;
    font-size: 40px;
    font-weight: 200;
}
.active{
      display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 470px;
    margin-left: 350px;
    gap: 0px;
}
.chels{
     display: grid;
    grid-template-columns: 275px 275px 275px 275px;
    grid-template-rows: 40px;
    margin-left: 30px;
    margin-top: -190px;
}
.grid2{
     color: white;
    font-size: 40px;
    font-weight: 200;
}
.but{
    background-color: black;
    height: 200px;
    padding: 10px;
    margin-top: 100px;
}
.loop{
    font-size: 35px;
    font-weight: 900;
    color: white;
    margin-left: 250px;
    display: grid;
    grid-template-columns: 900px 100px 100px 100px 100px;
}
.img{
    height: 40px;
}
.man{
     font-size: 24px;
    font-weight: 500;
    color: white;
    margin-left: 250px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 500px 400px;
}
.no{
    color: white;
    text-decoration: none;
}
.no2{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
.color{
    color: gray;
    font-size: 24px;
    font-weight: 500;
    margin-top: -3px;
}