body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.container{
    background-color:white;
    height: 375vh;
    
    
}


.bring{
    background-image: url(./images/image-hero.jpg);
    height: 101vh;
    padding: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.pace{
    position: relative;
margin-left: 900px;
margin-top: -100px;
    height: 100px;
}
.pace2{
    margin-left: 95px;
margin-top: -50px;
}
.links{
    font-size: 21px;
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
font-weight: 500;
margin-left: 450px;
margin-top: -50px;
color: rgb(24, 24, 83);
}
.ab{
    color: rgb(24, 24, 83);
    text-decoration: none;
    margin-left: 60px;
}

.coffee{
    font-size: 35px;
    font-weight: 900;
    color: rgb(24, 24, 83);
    margin-left: 70px;
}
.button{
    height: 40px;
    background-color: orangered;
    text-decoration: none;
    border-radius: 30px;
    width: 150px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    color: white;
    margin-left: 140px;
}
.button:hover {
    background-color: rgb(24, 24, 83);
    color: white;
    transition: 0.1s;
    cursor: pointer;
}
.keep{
    text-align: left;
    color: rgb(24, 24, 83);
    font-size: 60px;
    font-weight: 900;
    margin-left: 70px;
    margin-top: 200px;
}
.keep2{
    color: gray;
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
}
.button2{
    margin-top: 80px;
    margin-left: 10px;
     height: 40px;
    background-color: orangered;
    text-decoration: none;
    border-radius: 30px;
    width: 150px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 400;
}
.button2:hover {
    background-color: rgb(24, 24, 83);
    color: white;
    transition: 0.1s;
    cursor: pointer;
}
.rate{
    position: absolute;
    margin-left: 900px;
    margin-top: -600px;
}
.wheel{
     text-align: left;
    color: rgb(24, 24, 83);
    font-size: 50px;
    font-weight: 900;
    margin-left: 70px;
    margin-top: 300px;
}
.wheel2{
     color: gray;
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    margin-left: 10px;
}
.crack{
     margin-top: -310px;
     margin-left: 900px;
    display: grid;
    grid-template-columns: 150px 540px;
    grid-template-rows: 150px 150px 150px;
     font-size: 25px;
     font-weight: 800;
     color: rgb(24, 24, 83);
}
.crack2{
    color: gray;
    font-size: 21px;
    font-weight: 400;
    text-align: left;
    margin-top: -20px;
}
.number{
   
     height: 40px;
    background-color: orangered;
    text-decoration: none;
    border-radius: 30px;
    width: 70px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 400;
}
.they{
    text-align: center;
    margin-top: 300px;
    font-size: 50px;
    font-weight: 900;
    color: rgb(24, 24, 83);
}
.path{
    position: relative;
    margin-top: -140px;
    margin-left: -400px;
    height: 100px;

    
}
.people{
    position: absolute;
    margin-left: -10px;
    display: grid;
    grid-template-columns: 550px 550px 575px ;
    grid-template-rows: 300px;
    column-gap: 49px;
    
}
.back{
    background-color: rgb(214, 214, 214);

}
.img{
    margin-top: -310px;
      color: gray;
    text-align: center;
    font-size: 21px;
    font-weight: 300;
     display: grid;
    grid-template-columns: 550px 550px 580px ;
    grid-template-rows: 70px 200px;
    
}
.structure{
    width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-left: 230px;
}
.st2{
     width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-left: 280px;
}
.st3{
      width: 70px;
    height: 70px;
    border-radius: 70px;
    margin-left: 330px;
}
.create{
     margin-top: -250px;
   
     display: grid;
    grid-template-columns:550px 550px 550px  ;
}
.ct2{
    margin-left: 70px;
}
.ct3{
    margin-left: 140px;
    text-align: center;
}
.start{
    display: grid;
    grid-template-columns: 550px 550px 580px;
}
.button3{
    margin-left: 240px;
    margin-top: 100px;
     height: 40px;
    background-color: orangered;
    text-decoration: none;
    border-radius: 30px;
    width: 150px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 400;
}
.button3:hover {
    background-color: rgb(24, 24, 83);
    color: white;
    transition: 0.1s;
    cursor: pointer;
}
.near{
    background-color: orangered;
    height: 240px;
    margin-top: 700px;
    padding: 10px;
}
.near2{
    display: grid;
    grid-template-columns: 700px 300px ;
    color: white;
    font-size: 45px;
    font-weight: 900;
    margin-left: 80px;
}
.button4{
    margin-left: 400px;
    margin-top: 100px;
     height: 40px;
    background-color: white;
    text-decoration: none;
    border-radius: 30px;
    width: 150px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    color: orangered;
    font-size: 22px;
    font-weight: 400;
}
.button4:hover {
    background-color: rgb(24, 24, 83);
    color: white;
    transition: 0.1s;
    cursor: pointer;
}
.mega{
    background-color: rgb(16, 16, 41);
    height: 300px;
    padding: 20px;
}
.mega2{
    display: grid;
    margin-left: 70px;
    margin-top: 50px;
    grid-template-columns: 400px 200px 300px 200px 100px;
    grid-template-rows: 40px;
    color: white;
    font-size: 23px;
}
.mask{
    filter: brightness(0) invert(1);
}
.home{
    margin-top: -2px;
}
input{
    background-color: white;
    color: black;
    width:210px ;
    text-align: center;
    margin-top: -3px;
    height: 45px;
    border-radius: 30px;
}
.button5{
    margin-left: 30px;
    margin-top: -5px;
     height: 40px;
    background-color: orangered;
    text-decoration: none;
    border-radius: 30px;
    width: 60px;
    padding: 10px 10px 5px 10px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-weight: 400;
}
.button5:hover {
    background-color: rgb(24, 24, 83);
    color: white;
    transition: 0.1s;
    cursor: pointer;
}
.face{
    display: grid;
    grid-template-columns: 30px 30px 30px 30px 282px 200px 350px 400px ;
}
.pick{
    color: gray;
    margin-top: -3px;
    font-weight: 500;
    font-size: 17-px;
}
